.App {
  display: grid;
  height: 100vh;
  place-items: center;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  font-weight: bold;
  background-color: #233542;
}

button {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0px 0px 0px #888;
  border-radius: 10px;
}

.gameOver {
  background-color: var(--xRed);
}

.buttonR > * {
  margin: 2px;
}
